@model List<Message>

@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<h1>Giden Kutusu</h1>

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover tablesorter">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Mesaj Konusu</th>
                                    <th>Gönderilen Kişinin Ad</th>
                                    <th>Gönderme Zamanı</th>
                                    <th>Mesajı Aç</th>
                                    <th style="width:150px;">Mesajı Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.MessageID</td>
                                        <td>@item.MessageSubject</td>
                                        <td>@item.ReceiverUser.NameSurname</td>
                                        <td>@item.MessageDate.ToString("dd-MMM-yyyy") - @item.MessageDate.ToShortTimeString()</td>
                                        <td> <a href="/Message/MessageDetails/@item.MessageID" class="btn btn-success btn-lg "> AÇ </a> </td>
                                        <td> <a href="/Message/SendBoxDeleteMessage/@item.MessageID" class="btn btn-block btn-lg btn-danger" /> SİL</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a asp-action="SendMessage" asp-controller="Message" class="btn btn-warning btn-lg">Yeni Mesaj Gönder</a>